# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class
*.log

# idea #
.idea
*.iml
*.log

# Package Files #
*.jar
*.war
*.ear
/target
*-yxc*

