package ${package}.${backmodule}.controller;

import ${package}.${backmodule}.service.${className}Service;
import org.springframework.web.bind.annotation.*;
import com.alibaba.fastjson.JSONObject;
import ${package}.${common}.Result;


import javax.annotation.Resource;

@RestController
@RequestMapping("${secondModuleName}")
public class ${className}Controller {

    @Resource
    private ${className}Service ${classname}Service;

    @PostMapping("/insert")
    public Result insert(@RequestBody JSONObject requestJson) {
        return ${classname}Service.insert(requestJson);
    }

    @PostMapping("/update")
    public Result update(@RequestBody JSONObject requestJson) {
        return ${classname}Service.update(requestJson);
    }

    @PostMapping("/delete/{id}")
    public Result delete(@PathVariable(name = "id") String id) {
        return ${classname}Service.delete(Long.valueOf(id));
    }

    @PostMapping("/list")
    public Result list(@RequestBody JSONObject requestJson) {
        return ${classname}Service.list(requestJson);
    }

    @PostMapping("/get/{id}")
    public Result get(@PathVariable(name = "id") String id) {
        return ${classname}Service.get(Long.valueOf(id));
    }
}