package ${package}.${tableName}.controller;

import ${package}.${tableName}.service.${className}Service;
import org.springframework.web.bind.annotation.*;
import com.alibaba.fastjson.JSONObject;


import org.springframework.beans.factory.annotation.Autowired;
import com.heeexy.example.util.CommonUtil;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletRequest;

@RestController
@RequestMapping("${secondModuleName}")
public class ${className}Controller {

    @Resource
    private ${className}Service ${classname}Service;

    @PostMapping
    public JSONObject insert(@RequestBody JSONObject requestJson) {
        return ${classname}Service.insert(requestJson);
    }

    @PostMapping
    public JSONObject update(@RequestBody JSONObject requestJson) {
        return ${classname}Service.update(requestJson);
    }

    @PostMapping(/{id})
    public JSONObject delete(@PathVariable(name = "id") String id) {
        return ${classname}Service.delete(Long.valueOf(id));
    }

    @PostMapping
    public JSONObject list(@RequestBody JSONObject requestJson) {
        return ${classname}Service.list(requestJson);
    }
}