package ${package}.${backmodule}.service;


import com.alibaba.fastjson.JSONObject;
import java.util.List;
import ${package}.${common}.Result;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
    Result update(JSONObject jsonObject);

    Result insert(JSONObject jsonObject);

    Result page(JSONObject jsonObject);

    Result delete (Long id);

    Result count(JSONObject jsonObject);

    Result get(Long id);
}